body,
.media-config {
  background-color: #1b2226;
  background-image: var(--tools-background, linear-gradient(145deg,#30383d,#1b2226 65%));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
